.container{
    border: 5px solid darkblue;
    height: 500px;
    width: 500px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
    align-items: center;
}
